* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    color: #E98A15;
}
/*-----------MENU--------------*/

#menu {
    background-color: #005FB8;
    padding: 20px;
}

#menu > #menu-itens > h1{
    color: #E98A15;
}


#menu-itens {
    display: flex; /* Torna o contêiner flexível */
    justify-content: space-around; /* Espaça os itens do menu uniformemente */
    list-style: none; /* Remove os marcadores padrão da lista */
    padding: 0; /* Remove o padding padrão da lista */
}

#menu-itens > ul {
    display: flex; /* Faz com que os itens da lista fiquem em uma linha */
    justify-content: space-around; /* Espaça os itens do menu uniformemente */
    width: 100%; /* Garante que os itens ocupem toda a largura do contêiner */
    list-style: none; 
    align-items: center;
}

#icons{
    display: flex;
    align-items: center;
    gap: 10px;
}

#fundo-menu {
    position: relative;
    width: 100%; /* Garante que o contêiner cubra 100% da largura da viewport */
    height: 90vh; /* Ajuste a altura conforme necessário */
    overflow: hidden; /* Garante que nada extra apareça fora do contêiner */
}

.background-image {
    position: absolute;
    width:100vw;
    height: 107%;
    object-fit: cover; 
    z-index: -1; 
}

#fundotxt{
    padding-top: 200px;
    padding-left: 90px;
    font-size: 40px;
}

#fundo-menu > i{
    margin-top: 170px;
    margin-left: 600px;
}

/*----------FIM MENU------------*/

/*---------CATEGORISA POPULARES-----------*/
main{
    background-color: #005FB8;
}

main > h1{
    font-size: 40px;
    padding: 10px 65px;
    padding-top: 30px
}

 main > #price > h1{
    font-size: 40px;
    padding: 10px 65px;
}
.c-card__content {
    height: 100%;
    background-color: #87baed;
    display: inline-block;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
.l-cards {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    padding: 30px;
}
  
.c-card {
    background-color: #fdf6f6;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 280px;
    width: 230px;
    border: 1px solid rgb(220, 220, 220);
}

/*---------FIM CATEGORISA POPULARES-----------*/

/*---------OFERTAS DO DIA-----------*/

#price{
    height: 70vh;
}

#container{
    margin-top: 10px;
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.bigcard{
    border: 2px solid blue;
    display: inline-block;
    width: 550px;
    height: 300px;
}

.box-pai{
    border: 2px solid red;
}

.box-filho{

    height: 98px;
    width: 50px;
    border: 1px solid green;
}



/*---------FIM OFERTAS DO DIA-----------*/